<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ClearTripSuite">
    
    <listeners>
        <listener class-name="com.cleartrip.utils.Listeners"/>
    </listeners>

    <test name="FlightTest">
        <classes>
            <class name="com.cleartrip.tests.FlightSearchTest"/>
        </classes>
    </test>
</suite>